<p>Angular starter template es un proyecto que implementa las mejores prácticas en la codificación, construcción y prueba de aplicaciones angulares.</p>

<h2 i18n> Funciones </ h2>
  <ul>
     <li> Listo para usar, sistema de compilación tipado estático usando Gulp para trabajar con TypeScript. </li>
     <li> Desarrollos de producción y desarrollo. </li>
     <li> Ejemplos de pruebas de unidades con Jasmine y Karma, incluida la cobertura de código. </li>
     <li> Pruebas de extremo a extremo con Cypress. </li>
     <li> Servidor de desarrollo con recarga en vivo. </li>
     <li> Gestión de definición de TypeScript utilizando Types. </li>
     <li> Basic Service Worker, que implementa "Cache then network strategy". </li>
  </ul>
